NUXT_PUBLIC_API_BASE_URL=http://127.0.0.1:5001/PROJECT_ID/us-central1/api
NUXT_PUBLIC_USE_FIREBASE_EMULATORS=true
NUXT_PUBLIC_FIREBASE_API_KEY=
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NUXT_PUBLIC_FIREBASE_PROJECT_ID=
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NUXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NUXT_PUBLIC_FIREBASE_APP_ID=